
.caixa {
    text-align: center; /* Centraliza horizontalmente o conteúdo dentro da div */
    padding: 20px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    color: white;
}

input {
    width: 18vh;
    padding: 20px;
    backdrop-filter: blur(90px);
    background-color: rgba(255, 255, 255, 0);
    height: 2vh; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    outline: none; 
}

.btn{
    margin-top: 10px;
    width: 25vh;
    height: 4vh;
    padding: 8px;
    border: none;
    background-color:antiquewhite;
    border-radius: 30px;
    margin-top: 3%;
    text-transform: uppercase;
    font-weight: bold;
    transition: 1s;
}

.btn:hover {
    transition: 1s;
    color: antiquewhite;
    background-color: rgb(142, 121, 145);
}