body {
    height: 100vh; /* Isso centraliza verticalmente na janela */
    margin: 0;
    padding: 0;
    background-image: url('../img/f6.jpg'); /* Substitua 'caminho_da_sua_imagem.jpg' pelo caminho da sua imagem de fundo */
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o corpo */
    background-position: center; /* Centraliza a imagem no corpo */
    background-repeat: no-repeat; /* Evita que a imagem seja repetida */
    font-family: Arial, sans-serif; /* Defina a fonte desejada para o texto */
}

/* dashboard.module.css */

.userContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.userCard {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    max-width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.userCard:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
